.el-button {
    height: var(--el-component-size);
    padding: 0 var(--qs-control-padding);
    font-size: var(--el-font-size-base);

    &--small {
        --el-button-size: var(--el-component-size-small);
        height: var(--el-button-size);
        padding: 0 calc(var(--qs-control-padding) / 2);
        font-size: var(--el-font-size-small);
    }

    &--large {
        --el-button-size: var(--el-component-size-large);
        height: var(--el-button-size);
        padding: 0 calc(var(--qs-control-padding) * 1.5);
        font-size: var(--el-font-size-large);
    }

    &:has(.icon-text) {
        &>span {
            display: flex;
            column-gap: 5px;
        }
    }

    &+.el-button {
        margin-left: var(--qs-control-padding);
    }
}

.el-radio-button__inner {
    display: inline-flex;
    align-items: center;
    height: var(--el-component-size);
    padding: 0 var(--qs-control-padding);
    font-size: var(--el-font-size-base);
}

.el-checkbox-button__inner {
    display: inline-flex;
    align-items: center;
    height: var(--el-component-size);
    padding: 0 var(--qs-control-padding);
    font-size: var(--el-font-size-base);
}

.el-collapse-item__content {
    line-height: initial;
}

.el-radio {
    height: var(--el-component-size);
    margin-right: var(--el-component-size);
    font-weight: 400;
}

.el-checkbox {
    height: var(--el-component-size);
    margin-right: var(--el-component-size);

    &__label {
        font-size: var(--el-font-size-base);
        font-weight: 400;
    }
}

.el-color-picker__trigger {
    width: var(--el-component-size);
    height: var(--el-component-size);
}

.el-select__wrapper {
    font-size: var(--el-font-size-base);
}

.el-input__inner {
    font-size: var(--el-font-size-base);
}

.el-select__wrapper {
    min-height: var(--el-component-size);
}

.el-tag {
    --el-tag-font-size: var(--el-font-size-base);
}

.el-collapse {
    --el-collapse-header-font-size: var(--el-font-size-base);
}